/* Tilda Sans Font Family */

@font-face {
    font-family: 'Tilda Sans';
    src: url('TildaSans-Regular/TildaSans-Regular.woff2') format('woff2'),
         url('TildaSans-Regular/TildaSans-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Tilda Sans';
    src: url('TildaSans-Medium/TildaSans-Medium.woff2') format('woff2'),
         url('TildaSans-Medium/TildaSans-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Tilda Sans';
    src: url('TildaSans-Semibold/TildaSans-Semibold.woff2') format('woff2'),
         url('TildaSans-Semibold/TildaSans-Semibold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Tilda Sans';
    src: url('TildaSans-Bold/TildaSans-Bold.woff2') format('woff2'),
         url('TildaSans-Bold/TildaSans-Bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Tilda Sans';
    src: url('TildaSans-Light/TildaSans-Light.woff2') format('woff2'),
         url('TildaSans-Light/TildaSans-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}
