:root {
    --backgroundColor: #fff;
    --backgroundTransparentColor: rgba(255, 255, 255, 0.8);
    --sheetBackgroundColor: rgba(240, 240, 240, 0.8);
    --foregroundColor: #000;
    --thinRuleColor: rgba(0, 0, 0, 0.15);
    --headingsColor: #000;
    --headingsUnderlineColor: rgba(0, 0, 0, 0.15);
    --boldColor: #000;
    --boldUnderlineColor: rgba(0, 0, 0, 0.15);
    --linkColor: #0060a0;
    --linkUnderlineColor: rgba(0, 96, 160, 0.15);
    --linkColorVisited: #70a0b0;
    --linkUnderlineColorVisited: rgba(112, 160, 176, 0.15);
    --hoverColor: #b03000;
    --hoverUnderlineColor: rgba(176, 48, 0, 0.15);
    --tagColor: #556677;
    --tagUnderlineColor: rgba(0, 0, 0, 0.15);
    --adminColor: #009030;
    --adminUnderlineColor: rgba(0, 144, 48, 0.15);
    --engineTextColor: #a0a0a0;
    --engineTextUnderlineColor: rgba(160, 160, 160, 0.15);
    --markedTextBackground: #fffada;
    --markedImageBorderColor: #fff8b8;
    --inputBackgroundColor: #f0f0f0;
    --inputTextColor: #000;
    --offSwitchColor: var(--inputBackgroundColor);
    --onSwitchColor: var(--foregroundColor);
    --imageBorderColor: #e8e8e8;
    --disabledColor: #cccccc;
    --activeColor: #ff4820;
    --verifiedColor: #009900;
    --errorColor: #b03000;
    --currentItemBackgroundColor: #e8e8e8;
    --windowBackgroundColor: #fff;
    --unsavedIndicatorColor: #b03000;
    --followButtonBackground: rgba(231, 231, 231, .8);
    --followButtonHoverBackground: rgba(212, 212, 212, .8);
    --followButtonTextColor: #000;
    --maxWidth: 1280px;
    --marginTop: 48px;
    --marginLeft: 9%;
    --marginRight: 9%;
    --marginTopCompact: 16px;
    --marginLeftCompact: 4%;
    --marginRightCompact: 4%;
    --displayLogoMarginal: block;
    --displayLogo: none;
    --displayLogoCompact: block;
    --columnSpacing: 15px;
    --borderRadius: 6px;
    --logoTop: -20px;
    --logoSize: 40px;
    --blogTitleFontSize: 20px;
    --blogTitleLineHeight: 26px;
    --subHeadingFontSize: 26px;
    --subHeadingLineHeight: 30px;
    --pageHeadingFontSize: 36px;
    --pageHeadingLineHeight: 40px;
    --noteTitleFontSize: 36px;
    --noteTitleLineHeight: 42px;
    --noteLeadFontSize: 26px;
    --noteLeadLineHeight: 30px;
    --noteTextFontSize: 20px;
    --noteTextLineHeight: 28px;
    --smallFontSize: 12px;
    --smallLineHeight: 16px;
    --bigButtonFontSize: 20px;
    --bigButtonLineHeight: 28px;
    --mainFontFamily: system-ui, -apple-system, BlinkMacSystemFont, "SF UI Text", "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
    --noteMainFontFamily: inherit;
    --smallFontFamily: inherit;
    --time: .2s;
    --timeLong: .33s
}

@media(prefers-color-scheme: dark) {
    :root .e2-responds-to-dark-mode {
        --backgroundColor: rgb(32, 32, 32);
        --backgroundTransparentColor: rgba(32, 32, 32, .8);
        --sheetBackgroundColor: rgba(40, 40, 40, .8);
        --foregroundColor: rgb(192, 192, 192);
        --thinRuleColor: rgba(192, 192, 192, .25);
        --headingsColor: rgb(255, 255, 255);
        --headingsUnderlineColor: rgba(255, 255, 255, .25);
        --boldColor: var(--foregroundColor);
        --boldUnderlineColor: var(--thinRuleColor);
        --linkColor: rgb(0, 128, 212);
        --linkUnderlineColor: rgba(0, 128, 212, .25);
        --linkColorVisited: rgb(64, 96, 144);
        --linkUnderlineColorVisited: rgba(64, 96, 144, .25);
        --hoverColor: rgb(240, 64, 32);
        --hoverUnderlineColor: rgba(240, 64, 32, .25);
        --adminColor: rgb(76, 178, 110);
        --adminUnderlineColor: rgba(76, 178, 110, .25);
        --engineTextColor: rgb(128, 128, 128);
        --engineTextUnderlineColor: rgba(128, 128, 128, .25);
        --markedTextBackground: #443300;
        --markedImageBorderColor: #886600;
        --inputBackgroundColor: #404040;
        --inputTextColor: var(--foregroundColor);
        --onSwitchColor: var(--activeColor);
        --imageBorderColor: #404040;
        --disabledColor: rgb(96, 96, 96);
        --activeColor: #ff6440;
        --errorColor: rgb(240, 64, 32);
        --verifiedColor: rgb(64, 192, 32);
        --currentItemBackgroundColor: #303030;
        --windowBackgroundColor: #303030;
        --unsavedIndicatorColor: #ff4400;
        --followButtonBackground: rgba(236, 236, 236, .16);
        --followButtonHoverBackground: rgba(255, 255, 255, .48);
        --followButtonTextColor: #fff
    }
}

* { box-sizing: border-box }
body, h1, h2, h3, h4, h5, h6, p, ul, ol, li, pre, table, thead, tbody, tr, th, td, img, pre, tt, code, form, input, textarea, select, button { margin: 0; padding: 0; outline: none; text-indent: 0; font-size: 100%; font-style: normal; font-weight: normal; text-align: left; vertical-align: baseline }
body { background: var(--backgroundColor); color: var(--foregroundColor); margin: 0; padding: 0 }
body, input, textarea, select, button { font-size: 16px; line-height: 24px; font-family: var(--mainFontFamily) }
pre, tt, code, pre *, tt *, code * { font-family: "Consolas", "Courier New", monospace }
pre, code { white-space: pre-wrap }
img { border: 0 }
a { color: var(--linkColor); border-color: var(--linkUnderlineColor); transition-property: border-bottom, border-color, background, color, fill; transition-duration: var(--time); transition-timing-function: ease-out; text-decoration: none; border-bottom-width: 1px; border-bottom-style: solid }
a:hover, a.hover { color: var(--hoverColor); border-color: var(--hoverUnderlineColor); transition: none }

/* STRUCTURE */
.common { margin: 0 auto; max-width: var(--maxWidth) }
.flag { position: relative; width: 100%; padding: var(--marginTop) 0 60px }
@media screen and (max-width: 1023px) { .flag { padding: var(--marginTopCompact) 0 48px } }
.header-content { position: relative; display: flex; align-items: flex-start; justify-content: space-between; margin: 0 auto; max-width: calc(100% - var(--marginRight) - var(--marginLeft)) }
@media screen and (max-width: 1023px) { .header-content { margin: 0 var(--marginRightCompact) 0 var(--marginLeftCompact); max-width: calc(100% - var(--marginRightCompact) - var(--marginLeftCompact)) } }
.header-description { max-width: calc(100% - var(--marginRight) - var(--marginLeft)) }
.spotlight { position: absolute; top: -2px; right: 0; display: flex; white-space: nowrap }
.logo-marginal { display: var(--displayLogoMarginal); position: absolute; left: calc(-1*(var(--logoSize) + 20px*2)); top: 50%; transform: translateY(-50%); width: var(--logoSize); height: var(--logoSize); margin: 0 20px 0 }
.logo { display: var(--displayLogo); margin-bottom: 2px }
.title { max-width: 480px; font-size: var(--blogTitleFontSize); line-height: var(--blogTitleLineHeight) }
.content, .footer { margin: 0 var(--marginRight) 40px var(--marginLeft); width: calc(100% - var(--marginRight) - var(--marginLeft)) }
.content { min-height: 320px; max-width: 100% }
@media screen and (max-width: 1023px) { .content, .footer { margin: 0 var(--marginRightCompact) 40px var(--marginLeftCompact); width: calc(100% - var(--marginRightCompact) - var(--marginLeftCompact)) } }

/* POSTS */
.e2-note, .e2-note-list, .e2-note-splitter { margin: 0 0 60px }
.e2-note h1 { color: var(--headingsColor); font-size: var(--noteTitleFontSize); line-height: var(--noteTitleLineHeight); font-weight: bold; max-width: 720px; margin: 0 0 8px; }
.e2-note-text { font-size: var(--noteTextFontSize); line-height: var(--noteTextLineHeight); margin: 0 0 16px 0 }
.e2-note-meta { margin: 0 0 6px 0; font-size: var(--smallFontSize); line-height: var(--smallLineHeight); font-family: var(--smallFontFamily) }
.e2-tags { margin: 0 0 60px; line-height: 28px; display: flex; flex-wrap: wrap }
.e2-tag { white-space: nowrap; margin-right: 12px; margin-bottom: 12px }

/* BUTTONS */
.e2-button { display: inline-block; padding: 6px 16px; font-size: 16px; line-height: 24px; background: linear-gradient(to bottom, #f8f8f8 0%, #f0f0f0 100%); border-radius: var(--borderRadius); color: #000; cursor: pointer; box-shadow: inset 0 0 0 1px rgba(0,0,0,.15); border: none }
.e2-button:hover { box-shadow: inset 0 0 100px rgba(0,0,0,.12), inset 0 0 1px rgba(0,0,0,.5); transition: none }
.e2-submit-button { background: linear-gradient(to bottom, #f88850 0%, #d86830 100%); color: #fff; font-weight: bold; padding: 12px 24px; font-size: var(--bigButtonFontSize) }
.e2-delete-button { background: linear-gradient(to bottom, #f4ece8 0%, #e0d0c8 100%); color: #000; font-weight: bold; padding: 12px 24px; font-size: var(--bigButtonFontSize) }

/* ADMIN */
.admin-links a { color: var(--adminColor); border-color: var(--adminUnderlineColor) }
.admin-links a:hover { color: var(--hoverColor) }
.e2-svgi { width: 16px; height: 16px; display: inline-block; vertical-align: middle; fill: currentColor }

/* FORMS & LOGIN */
.form-control { margin-bottom: 24px; display: block; width: 100% }
.e2-login-window { width: 360px; background: var(--windowBackgroundColor); padding: 32px; border-radius: 20px; box-shadow: 0 10px 40px rgba(0,0,0,0.2); margin: 0 auto; position: relative; left: 50%; transform: translateX(-50%); top: 10% }
input[type=text], input[type=password], textarea { width: 100%; background: var(--inputBackgroundColor); color: var(--inputTextColor); border: none; border-radius: var(--borderRadius); padding: 8px 12px }
.e2-search-box-nano input[type=search] { width: 0; transition: width .2s; position: absolute; right: 0; background: transparent; border-bottom: 1px solid var(--thinRuleColor) }
.e2-search-box-nano input[type=search]:focus { width: 160px; background: var(--backgroundColor) }

/* UTILS */
.e2-comments { margin-top: 60px; border-top: 1px solid var(--thinRuleColor); padding-top: 40px }
.e2-comment { margin-bottom: 24px; position: relative }
.e2-comment-author { font-weight: bold; color: var(--boldColor) }